
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a54444;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #11b911;
}

article {
    float: left;
    width: 60%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-right: 20px;
}

aside {
    float: right;
    width: 35%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
   
}


section {
    clear: both;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-top: 20px;
    overflow: hidden;
    
}


section ul {
    list-style-type: square;
    padding-left: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #007BFF;
    
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
    
}